
.menu {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.menu .item_menu {
    background-color: #d0d0d0;
    margin-top: 3px;
    margin-bottom: 3px;
}

.btn-success {
    background-color: #008000 !important;
    color: white;
}

.btn-success:hover {
    background-color: #006000;
}

.btn {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #e0e0e0;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    color: black;
    margin-left: 4px;
    margin-right: 4px;
}

.btn:active {
    color: red;
}

.btn:hover {
    background-color: #c0c0c0;
}



.btn-danger {
    background-color: #800000;
    color: white;
}

.btn-danger:hover {
    background-color: #600000;
}

.btn-sm {
    font-size: 10pt;
}

.btn-lg {
    font-size: 16pt;
}

.btn-xl {
    font-size: 20pt;
}

/* CONTAINER FLEXBOX */
.caixa {
    border: 1px solid black;
    background-color: #d0d0d0;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.bloco {
    border: 1px solid black;
    width: 300px;
}